# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and Build Artifacts
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Node/Vite specific caches and outputs
.vite/
build
out/

# Environment Variables
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript and Caching
*.tsbuildinfo
.eslintcache

# System Files
Thumbs.db

# Testing
# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/
/test-results/